@font-face {
  font-family: round;
  src: url("fonts/round.woff2");
}

:root {
    --normal: round, sans-serif;
    --monospace: monospace;
    --serif: round, serif;
    --black: #151515;
    --white: #e8e3e3;
    --orange: #e0863e;
    --purple: #a988b0;
}

body {
    font-size: 1.1em;
    font-family: var(--normal);
    background-color: var(--black);
    color: var(--white);
    text-align: justify;
}

pre {
    font-family: var(--monospace);
    padding: 0;
    margin: 0;
}

code {
    display: block;
    font-family: var(--monospace);
    overflow: auto;
    background: #424242;
    white-space: pre;
    margin-bottom: 25px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--serif)
}

h1 {
    text-align: center;
}

footer {
    text-align: center;
    margin: 1em 0 1em 0;
}

a { 
    color: var(--orange);
    text-decoration: none;
}

.icon {
    height: 32px;
    width: auto;
}

.buttons {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons img {
    max-width: 88px;
    max-height: 31px;
    height: auto;
    object-fit: contain;
}

.button {
    max-width: 88px;
    height: auto;
}

.vert-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pfp {
    width: 256px;
    height: 256px;
}

.purple {
    color: var(--purple); 
}

.orange {
    color: var(--orange);
}

.content {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 50px;
}

.intro {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
}

.intro > img {
    margin-right: 40px;
}

@media only screen and (max-width: 720px) {
    li {
        margin-left: -25px;
    }
    .intro {
        flex-direction: column;
    }
    .intro > img {
        margin-right: auto;
        margin-bottom: 10px;
    }
}

.rainbow {
    animation: rainbow 4s infinite;
}

@media only screen and (max-width: 1050px) {
    .content {
        margin-left: 3%;
        margin-right: 3%;
    }
}

@media only screen and (max-width: 700px) {
    .intro {
        padding: 0px;
        grid-template-columns: 1fr;
    }

}

@keyframes rainbow {
    0% {
		color: red;
	}

	17% {
		color: orange;
	}

	33% {
		color: yellow;
	}

	50% {
		color: green;
	}

	67% {
		color: blue;
	}

	84% {
		color: purple;
	}

	100% {
		color: red;
	}
}

.tooltip {
    position: relative;
    display: inline-block;
    text-decoration: underline;
    cursor: help;
}

.tooltip .tooltiptext {
    visibility: hidden;
    max-width: 400px;
    width: 300px;
    padding: 5px 0;
    background-color: black;
    text-align: center;
    font-size: 0.7em;
    border-radius: 6px;
    position: absolute;
    top: -8px;
    left: 150%;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}