@font-face {
  font-family: round;
  src: url("fonts/round.woff2");
}

:root {
    --normal: round, sans-serif;
    --monospace: monospace;
    --serif: round, serif;
    --black: #151515;
    --white: #e8e3e3;
    --orange: #e0863e;
    --purple: #a988b0;
}

* {
    text-align: start;
}

body {
    font-size: 1.1em;
    font-family: var(--normal);
    background-color: var(--black);
    color: var(--white);
    text-align: justify;
    margin: 0 5% 0 5%;
}

pre {
    font-family: var(--monospace);
    padding: 0;
    margin: 0;
}

code {
    display: block;
    font-family: var(--monospace);
    overflow: auto;
    background: #424242;
    white-space: pre;
    margin-bottom: 25px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--serif)
}

h1 {
    text-align: center;
}

a { 
    color: var(--orange);
    text-decoration: none;
}

.icon {
    height: 32px;
    width: auto;
}

.buttons {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons img {
    max-width: 88px;
    max-height: 31px;
    height: auto;
    object-fit: contain;
}

.button {
    max-width: 88px;
    height: auto;
}

.vert-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pfp {
    width: 256px;
    height: 256px;
}

.purple {
    color: var(--purple); 
}

.orange {
    color: var(--orange);
}

.container {
    display: flex;
    margin: 0;
    padding: 0;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
    align-items: center;
}

.content {
    margin: 0 auto 50px auto;
    max-width: 700px;
}

.links {
    list-style-type: none;
    text-align: center;
    width: 100%;
}

.links a {
    margin: 10px 0;
}

.links a::before {
    content: ">>>";
    position: absolute;
    display: inline-block;
    left: -40px;
    transition: all 0.5s cubic-bezier(1, 2, 0, 1);
    color: var(--black)
}

.links a::after {
    content: "<<<";
    position: absolute;
    display: inline-block;
    right: -40px;
    transition: all 0.5s cubic-bezier(1, 2, 0, 1);
    color: var(--black)
}

.links a:hover::before {
    position: absolute;
    display: inline-block;
    left: -20px;
    color: var(--white);
}

.links a:hover::after {
    position: absolute;
    display: inline-block;
    right: -20px;
    color: var(--white);
}

.intro {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
}

.intro > img {
    margin-right: 40px;
}

@media only screen and (max-width: 650px) {
    .intro {
        flex-direction: column;
        padding: 0px;
        grid-template-columns: 1fr;
    }
    .intro > img {
        margin-right: auto;
        margin-bottom: 10px;
    }
}

.rainbow {
    animation: rainbow 4s infinite;
}

@media only screen and (max-width: 1050px) {
    
}

@keyframes rainbow {
    0% {
		color: red;
	}

	17% {
		color: orange;
	}

	33% {
		color: yellow;
	}

	50% {
		color: green;
	}

	67% {
		color: blue;
	}

	84% {
		color: purple;
	}

	100% {
		color: red;
	}
}

.tooltip {
    position: relative;
    display: inline-block;
    text-decoration: underline;
    cursor: help;
}

.tooltip .tooltiptext {
    visibility: hidden;
    max-width: 400px;
    width: 300px;
    padding: 5px 0;
    background-color: black;
    text-align: center;
    font-size: 0.7em;
    border-radius: 6px;
    position: absolute;
    top: -8px;
    left: 150%;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}